body {
    font-family: Poppins, serif;
    background-color: black;
    margin: 0 10%;
}

.bold {
    font-weight: 700;
}

.blanched-almond{
    background-color: blanchedalmond;
}

.blanched-almond p {
    color: black;
}

.cabin {
    font-family: cabin, sans-serif;
}
.container {
    border: 2px solid #708090;
    padding: 10px;
    margin: 10px auto;
}

.color-panel {
    display: inline-block;
    width: 33%;
    margin: 20px auto;
    min-height: 100px;
}

div {
    display: block;
}

.dark-blue {
    background-color: darkblue;
}


.font-label {
    text-decoration: underline;
    font-size: 28px;
}

.font-panel {
    display: inline-block;
    width: 33%;
    margin: 10px auto;
    min-height: 100px;
}

.font-panel p {
    text-align: left;
}

h1 {
    color:mintcream;
    text-align: center;
    font-family: Lora, serif;
    font-weight: 700;
    font-size: 32px;
}

h2 {
    color:mintcream;
    text-decoration: underline;
    font-weight: 500;
    font-size: 26px;
    font-family: ubuntu, serif;
}

.italic {
    font-style: italic;
}

.light-coral {
    background-color: lightcoral;

}

li {
    color: mintcream;
}

.maroon {
    background-color: maroon;
}
.medium-purple {
    background-color: mediumpurple;
}

.olive-drab {
    background-color: olivedrab;
}

p {
    color:mintcream;
    text-align: center;
    font-size: 20px;
}

.second-container {
    width: 100%;
}

.text-1 {
    background-color: #42b883;
    margin:0
}

.text-2 {
    background-color: #347474;
}

.text-3 {
    background-color: #35495e;
}

.text-4 {
    background-color: #ff7e67;
}

.text-panel h1 {
    text-align: left;
}

.ubuntu {
    font-family: Ubuntu, sans-serif;
}